{% extends "getfashionable/layouts/base.html" %}

{% load static %}

{% block head_title %}
Home
{% endblock %}


{% block specific_style %}
<link rel="stylesheet" href="{% static 'getfashionable/css/masonry.css' %}">
{% endblock %}

{% block content %}
<div class="image-gallery-container">
    <div class="image-gallery">

        {% for image in images %}
        <a href="{% url 'getfashionable:publication_detail' 1 %}">
            <div class="image-item">
                <img src="{{ image.url }}" alt="Image" width="{{ image.width }}" height="{{ image.height }}">
            </div>
        </a>
        {% endfor %}

    </div>
</div>
{% endblock %}

{% block specific_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script src="{% static 'getfashionable/js/masonry.js' %}"></script>
{% endblock %}