{% extends "getfashionable/layouts/base.html" %}

{% load static %}

{% block head_title %}
Publication
{% endblock %}

{% block specific_style %}
<link rel="stylesheet" href="{% static 'getfashionable/css/publications.css' %}">
{% endblock %}

{% block content %}
<div class="publication">
    <div class="publication__image-container">
        <div class="publication__image" style="max-width: {{ publication.image.width }}px;">
            <img src="{{ publication.image.url }}" alt="{{ publication.description }}"
                width="{{ publication.image.width }}" height="{{ publication.image.height}}">
        </div>
    </div>


    <div class="publication__profile-container">
        <div class="publication__profile">
            <div class="publication__profile-author">
                <a href="{% url 'getfashionable:profile' publication.author.username %}"
                    class="rounded-image-link--large">
                    <img class="rounded-image" src="{{ publication.author.image_url }}" alt="" width="60" height="60">
                </a>

                <div class="publication__profile-author-link">
                    <strong>
                        <a href="{% url 'getfashionable:profile' publication.author.username %}">
                            {{ publication.author.name }}
                        </a>
                    </strong>
                </div>
            </div>

            <div class="publication__name">
                <p>
                    {{ publication.name }}
                </p>
            </div>

            <div class="publication__description">
                <p>{{ publication.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
