{% extends "getfashionable/layouts/base.html" %}

{% load static %}

{% block head_title %}
Publication
{% endblock %}

{% block specific_style %}
<link rel="stylesheet" href="{% static 'getfashionable/css/publications.css' %}">
{% endblock %}

{% block content %}
<div class="content-centered">
    <div class="publication-detail-container">
        <div class="row">

            <div class="col-8">
                <div class="publication-image-container">
                    <div class="content-centered">
                        <img class="publication-image" src="{{ publication.image.url }}" alt="" width="{{ publication.image.width }}"
                            height="{{ publication.image.height}}">
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="publication-card">

                    <div class="content-centered">
                        <a href="#" class="rounded-button">
                            <img class="rounded-image" src="{% static 'getfashionable/images/user.jpg' %}" alt=""
                                width="60" height="60">
                        </a>
                    </div>

                    <div class="content-centered">
                        <div class="publication-profile-link">
                            <strong>
                                <a href="#">{{publication.author.name}}</a>
                            </strong>
                        </div>
                    </div>

                    <div class="publication-description">
                        <p>
                           {{ publication.description }}
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}