{% extends "getfashionable/layouts/base.html" %}

{% load static %}

{% block head_title %}
Signup
{% endblock %}


{% block content %}

<div class="background-color-container">

  <div class="content-centered">
    <div class="color-border-container">

      <form method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {% for field in form %}

        {% if not forloop.last %}

        <div class="row">

          <div class="col-4">
            <div class="form-label">
              {{ field.label_tag }}
            </div>
          </div>

          <div class="col-8">
            <div class="form-input-text">
              {{ field }}
            </div>

            {% for error in field.errors %}
            <p class="form-errors">{{ error }}</p>
            {% endfor %}
          </div>
        </div>

        {% endif %}

        {% if forloop.last %}

        <div class="row">

          <div class="col-4">
            <div class="form-label">
              {{ form.user_image.label_tag }}
            </div>
          </div>

          <div class="col-8">
            <div>
              {{ form.user_image }}
            </div>

            {% for error in field.errors %}
            <p class="form-errors">{{ error }}</p>
            {% endfor %}
          </div>
        </div>

        {% endif %}

        {% endfor %}
        <div class="row">
          <br />
          <div class="content-centered">
            <button class="button-primary" type="submit">Sign up</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>


{% endblock %}