<div class="row">
    <div class="search__container">
        <div class="col-1">
            <div class="content-centered">
                <div class="icon-link">
                    <a href="{% url 'getfashionable:home' %}">
                      
                    </a>
                </div>
            </div>
        </div>

        <div class="col-1">
            <div class="content-centered">
                <a href="{% url 'getfashionable:home' %}" class="link-button">
                    <span class="link-text">Home</span>
                </a>
            </div>
        </div>

        <div class="col-6">
            <!-- {% include "getfashionable/layouts/header/searchbar.html" %} -->
        </div>

        <div class="col-2">
            {% include "getfashionable/layouts/header/useroptions.html" %}
        </div>
    </div>
</div>