{% extends "getfashionable/layouts/base.html" %}

{% load static %}

{% block head_title %}
{{ profile_user.username }}
{% endblock %}

{% block specific_style %}
<link rel="stylesheet" href="{% static 'getfashionable/css/masonry.css' %}">
{% endblock %}

{% block content %}
<div class="horizontal-center">
    <div class="card-color">
        <div class="row">
            <div class="col-5">
                <div class="content-centered">
                    <div class="image-rounded-container-xl">
                        <img class="profile-image" src="{{ profile_user.image }}">
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="row">
                    <p class="profile_text">{{ profile_user.username }}</p>
                    <p class="profile_text">
                        {{ profile_user.first_name }}
                        {{ profile_user.last_name }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-vertical-padding">
    <div class="image-gallery-container">
        <div class="image-gallery">

            {% if profile_user.designs|length == 0 %}

            <div class="horizontal-center">
                <p>This user does not upload designs yet</p>
            </div>

            {% else %}

            {% for image in profile_user.designs %}
            <a href="{% url 'getfashionable:publication_detail' image.id %}">
                <div class="image-item">
                    <img src="{{ image.url }}" alt="Image" width="{{ image.width }}" height="{{ image.height }}">
                </div>
            </a>
            {% endfor %}

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block specific_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script src="{% static 'getfashionable/js/masonry.js' %}"></script>
{% endblock %}