{% extends "getfashionable/layouts/base.html" %}

{% load static %}

{% block head_title %}
Publish design
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="form-container">
    <div class="form__content">
        <div class="row row--center-horizontally">
            <h1 class="form__title">Publish new design</h1>
        </div>
        <form method="post" enctype="multipart/form-data" class="col">

            {% csrf_token %}

            <div class="rows-cols">
                <div class="cols-6">
                    {% for field in form %}
                    {% if field.name != 'image' %}
                    <div>
                        <div class="form__label">
                            {{ field.label_tag }}
                        </div>

                        <div class="form__input-text">
                            {{ field }}
                        </div>

                        <ul>
                            {% for error in field.errors %}
                            <li class="form__errors">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="cols-6">
                    <div class="form__input-image form__input-image--full">
                        <label for="id_image" class="form__input-image-label">
                            <img src="{% static 'getfashionable/icons/upload_file.svg' %}" alt="Upload icon"
                                class="form__input-image-icon">
                            <span>Drag and drop or click to upload</span>
                        </label>
                        <input type="file" name="image" id="id_image" accept="image/*">
                    </div>
                </div>
            </div>

            <div class="cols-12">
                <button class="button-primary button-primary--full" type="submit">Publish</button>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}