[class*="rounded-image-link"] {
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.rounded-image-link--shadow {
  box-shadow: 0 3px 6px var(--ship-gray-300);
}

.rounded-image-link--border {
  border: 1.5px solid var(--purple-heart-500);
}

.rounded-image-link {
  width: 32px;
  height: 32px;
}

.rounded-image-link--large {
  width: 48px;
  height: 48px;
}

[class*="rounded-button"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  box-shadow: 0 3px 6px var(--ship-gray-300);
  font-size: 27px;
  text-decoration: none;
  font-weight: bold;
}

.rounded-button--primary {
  background-color: var(--purple-heart-500);
}

.rounded-button--primary:hover {
  background-color: var(--amethyst-500);
}

.rounded-button--secondary {
  background-color: var(--ship-gray-400);
}

.rounded-button--secondary:hover {
  background-color: var(--ship-gray-500);
}

.rounded-image {
  width: 100%;
  height: auto;
}

[class*="link-button"] {
  padding: 5px 15px;
  border-radius: 25px;
  filter: drop-shadow(3px 5px 2px var(--ship-gray-300));
}

.link-button--primary {
  background-color: var(--purple-heart-500);
}

.link-button--primary:hover {
  background-color: var(--amethyst-500);
}

.link-button-secondary {
  background-color: var(--ship-gray-400);
}

.link-button-secondary:hover {
  background-color: var(--ship-gray-500);
}

.link-text {
  color: var(--ship-gray-50);
  display: inline-block;
  vertical-align: middle;
}

.icon-link {
  display: inline-block;
  fill: var(--purple-heart-500);
  filter: drop-shadow(3px 5px 2px var(--ship-gray-300));
  width: 40px;
  height: auto;
}

.icon-link:hover {
  fill: var(--amethyst-500);
}

.button-primary {
  padding: 10px 25px;
  border-radius: 25px;
  border-style: none;
  color: var(--ship-gray-50);
  background-color: var(--purple-heart-500);
}

.button-primary:hover {
  background-color: var(--amethyst-500);
}

@media only screen and (min-width: 768px) {
  .rounded-button {
    width: 40px;
    height: 40px;
  }

  [class*="rounded-button"] {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    font-size: 35px;
  }

  .icon-link {
    width: 48px;
  }

  .rounded-image-link {
    width: 40px;
    height: 40px;
  }
  [class*="link-button"] {
    padding: 10px 25px;
    border-radius: 25px;
    filter: drop-shadow(3px 5px 2px var(--ship-gray-300));
  }

  .rounded-image-link--large {
    width: 80px;
    height: 80px;
  }
}
