.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--ship-gray-50);
}

.form__content {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 3px 6px var(--ship-gray-300);
}

.form__title {
  font-size: 1.5rem;
  margin: 1rem;
  color: var(--ship-gray-700);
  font-weight: bold;
}

.form__label {
  padding: 0.5rem 0px 0.5rem 0px;
  color: var(--ship-gray-800);
  font-weight: bold;
}

.form__input-text {
  width: 100%;
}

.form__input-text > input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--ship-gray-50);
  color: var(--ship-gray-800);
  border: 1px solid var(--ship-gray-400);
}

.form__input-text > textarea {
  width: 100%;
  height: 50px;
  min-height: 50px;
  max-height: 100px;
  min-width: 100%;
  overflow: auto;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--ship-gray-50);
  color: var(--ship-gray-800);
  border: 1px solid var(--ship-gray-400);
}

.form__input-text > input:focus,
.form__input-text > textarea:focus {
  border: 1px solid var(--purple-heart-500);
  outline: 1px solid var(--shamrock-400);
}

.form__errors {
  padding: 5px 0px 5px 0px;
  margin: 0px;
  color: #c0405c;
  text-wrap: balance;
}

.form__input-image {
  position: relative;
  width: 100%;
  height: 200px;
  border: 2px dashed var(--ship-gray-400);
  border-radius: 5px;
  overflow: hidden;
}

.form__input-image input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.form__input-image-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.form__input-image-icon {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .form__content {
    width: 80%;
    /* box-shadow: 0 3px 6px var(--ship-gray-300); */
  }
}
