.form-label {
  padding: 10px 0px 5px 0px;
  color: var(--ship-gray-50);
  font-weight: bold;
}

.form-input-text {
  width: 100%;
}

.form-input-text > input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: var(--ship-gray-50);
  border: 2px solid var(--purple-heart-500);
}

.form-input-text > input:focus {
  outline: 1px solid var(--shamrock-400);
}

.form-errors {
  padding: 2px 0 0 10px;
  color: #ff1a47;
  text-wrap: balance;
}
