:root {
  --amethyst-50: #faf7fd;
  --amethyst-100: #f2edfa;
  --amethyst-200: #e7def6;
  --amethyst-300: #d5c3ef;
  --amethyst-400: #bc9de3;
  --amethyst-500: #9666d1;
  --amethyst-600: #8a58c5;
  --amethyst-700: #7545ab;
  --amethyst-800: #633d8c;
  --amethyst-900: #513271;
  --amethyst-950: #351a51;

  --ship-gray-50: #f7f6f9;
  --ship-gray-100: #eeedf1;
  --ship-gray-200: #d9d7e0;
  --ship-gray-300: #b6b4c5;
  --ship-gray-400: #8f8ba5;
  --ship-gray-500: #726d8a;
  --ship-gray-600: #5c5772;
  --ship-gray-700: #4c475d;
  --ship-gray-800: #403d4f;
  --ship-gray-900: #3c3947;
  --ship-gray-950: #27242d;
  --ship-gray-1000: #161419;

  --purple-heart-50: #f5f3ff;
  --purple-heart-100: #ede9fe;
  --purple-heart-200: #ddd5ff;
  --purple-heart-300: #c2b4fe;
  --purple-heart-400: #a589fc;
  --purple-heart-500: #8959f9;
  --purple-heart-600: #7a37f0;
  --purple-heart-700: #722fde;
  --purple-heart-800: #591eb9;
  --purple-heart-900: #4b1b97;
  --purple-heart-950: #2d0e67;
}

* {
  box-sizing: border-box;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  min-height: 100vh;
  width: auto;
  margin: 0 auto;
  background-color: var(--ship-gray-50);
  /* background-color: var(--ship-gray-950); */
}

.main-content {
  width: auto;
  height: auto;
}

.main-content-full {
  width: auto;
  height: 100vh;
}

[class*="col-"] {
  float: left;
  padding: 5px;
  width: 100%;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.content-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.content-left {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo-icon {
  display: flex;
}

/* Small layout (Mobile-first) */
body {
}

/* Medium layout */
@media only screen and (min-width: 768px) {
  .row {
    width: 100%;
    display: table;
    flex-direction: row;
  }
}

/* Large layout */
@media only screen and (min-width: 1024px) {
  body {
  }
}

/* Common column styles for all layouts */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.shadow {
  box-shadow: 0px 0px 30px 2px var(--ship-gray-300);
}

.border-container {
  border: 1px solid var(--ship-gray-200);
  padding: 20px 30px;
  border-radius: 25px;
  box-shadow: var(--ship-gray-500) 0px 2px 4px,
    var(--ship-gray-300) 0px 7px 13px -3px;
}

.color-border-container {
  padding: 20px 30px;
  border-radius: 25px;
  background-color: var(--purple-heart-600);
  box-shadow: 0px 0px 30px 2px var(--purple-heart-950);
}

.background-color-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    125deg,
    var(--purple-heart-400) 15%,
    var(--purple-heart-800) 60%,
    var(--purple-heart-950) 100%
  );
}
