.image-gallery-container {
  margin: 0px;
  padding: 0px;
}

.image-gallery {
  margin: 0 auto;
}

.image-item {
  width: 130px;
  height: auto;
  border-radius: 10px;
  background-color: var(--ship-gray-200);
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: var(--ship-gray-800) 0px 1px 2px 0px, var(--ship-gray-950) 0px 1px 3px 1px;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-item img:hover {
  transform: scale(1.03);
}

@media only screen and (min-width: 375px) {
  .image-item {
    width: 160px;
  }
}

@media only screen and (min-width: 425px) {
  .image-item {
    width: 180px;
  }
}

@media only screen and (min-width: 768px) {
  .image-item {
    width: 160px;
  }
}

@media only screen and (min-width: 1024px) {
  .image-item {
    width: 230px;
  }
}