.image-gallery-container {
  margin: 0;
  padding: 0;
}

.image-gallery {
  margin: 0 auto;
}

.image-item {
  width: 230px;
  height: auto;
  border-radius: 25px;
  background-color: var(--ship-gray-200);
  object-fit: cover;
  transition: transform 0.2s;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: var(--ship-gray-950) 0px 2px 4px,
    var(--ship-gray-800) 0px 7px 13px -3px;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.image-item:hover {
  border: 1.8px solid var(--purple-heart-500);
  box-shadow: var(--purple-heart-500) 0px 2px 4px,
    var(--purple-heart-400) 0px 7px 13px -3px;
}
