.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.profile-image {
  display: block;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 4px 6px var(--ship-gray-50);
}

.profile-image img {
  height: auto;
  width: 100%;
}

.profile-image--large {
  width: 80px;
  height: 80px;
}

.profile-info__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.profile-info__user-username {
  font-size: 24px;
  font-weight: bold;
  color: var(--ship-gray-800);
  margin: 0px;
}

.profile-info__user-names {
  font-size: 18px;
  color: var(--ship-gray-400);
  margin: 0px;
}

@media (min-width: 768px) {
  .profile-image--large {
    width: 120px;
    height: 120px;
  }

  .profile-info__user-username {
    font-size: 32px;
  }

  .profile-info__user-names {
    font-size: 24px;
  }
}
