.publication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.publication__image-container {
  width: 100%;
}

.publication__image {
  background-color: var(--ship-gray-200);
  height: auto;
  width: 100%;
}

.publication__image img {
  width: 100%;
  height: auto;
}

.publication__profile-container {
  width: 100%;
}

.publication__profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.publication__profile-author {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.publication__profile-author-link {
  font-size: 1.2rem;
}

.publication__profile-author-link a {
  text-decoration: none;
  color: var(--ship-gray-800);
}

.publication__profile-author-link a:visited {
  text-decoration: underline;
  color: var(--ship-gray-800);
}

.publication__name {
  text-align: center;
  text-wrap: balance;
}

.publication__name p {
  background-color: var(--ship-gray-200);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0;
  font-weight: bold;
  color: var(--ship-gray-900);
}

.publication__description {
  text-wrap: balance;
  color: var(--ship-gray-700);
}

.publication-card {
  border-radius: 25px;
  padding: 20px;
  height: 100%;
  box-shadow: var(--ship-gray-300) 0px 1px 1px, var(--ship-gray-300) 0px 2px 2px,
    var(--ship-gray-300) 0px 4px 4px, var(--ship-gray-300) 0px 8px 8px,
    var(--ship-gray-300) 0px 16px 16px;
}

@media only screen and (min-width: 768px) {
  .publication {
    flex-direction: row;
    gap: 2rem;
    align-items: start;
  }

  .publication__image-container {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .publication__profile-container {
    width: 50%;
    display: flex;
    justify-content: start;
  }

  .publication__profile {
    width: 85%;
  }

  .publication__name {
    width: 100%;
    background-color: var(--ship-gray-200);
  }
}
