{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'getfashionable/css/layouts.css' %}">
    <link rel="stylesheet" href="{% static 'getfashionable/css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'getfashionable/css/cards.css' %}">
    <link rel="stylesheet" href="{% static 'getfashionable/css/search_menu.css' %}">
    <link rel="stylesheet" href="{% static 'getfashionable/css/dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'getfashionable/css/forms.css' %}">
    <link rel="icon" href="{% static 'getfashionable/icons/favicon.svg' %}" type="image/svg+xml">
    {% block specific_style %} {% endblock %}

    <title>
        {% block head_title %}
        Get Fashionable
        {% endblock %}
    </title>

</head>

<body class="main-container">
    {% if show_header %}

    <header>
        {% include "getfashionable/layouts/header/header.html" %}
    </header>

    <main class="main-content">

        {% else %}

        <main class="main-content-full">
            {% endif %}
            {% block content %} {% endblock %}
        </main>

        {% block specific_script %} {% endblock %}

</body>

</html>